apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: keda-log-reader
  namespace: keda
rules:
  - apiGroups: [""]
    resources: ["pods", "pods/log"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: keda-log-reader
  namespace: keda
subjects:
  - kind: ServiceAccount
    name: {{ default "team8-sa" (include "team8-app.serviceAccountName" .) }}
    namespace: {{ .Release.Namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: keda-log-reader
