replicaCount: 1
app:
  replicaCount: 1
  containerPort: 8080
  image:
    repository: ghcr.io/csu-itmo-2025-2/team8-backend
    tag: sha-1dd9b85
    pullPolicy: IfNotPresent

  env:
    - name: KAFKA_SERVERS
      value: "kafka:9092"

  resources:
    requests:
      cpu: 250m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi

  rollout:
    enabled: false
    analysisTemplate:
      enabled: false

vault:
  enabled: true
  server: "https://vault.kubepractice.ru"
  kvMount: "kv"
  kvVersion: "v1"
  kubernetesAuthMount: "kubernetes"
  role: "team8"
  envPath: "team8/backend"

worker:
  replicaCount: 1
  image:
    repository: ghcr.io/csu-itmo-2025-2/team-8-llm-worker
    tag: sha-054c377
    pullPolicy: IfNotPresent
  env:
    - name: KAFKA_SERVERS
      value: "kafka:9092"
  hfCache:
    enabled: true
    size: 10Gi
  resources:
    requests:
      cpu: 1000m
      memory: 2Gi
    limits:
      cpu: 1500m
      memory: 4Gi

frontend:
  enabled: true
  image:
    repository: ghcr.io/csu-itmo-2025-2/team8-frontend
    tag: latest
  containerPort: 4173
  env:
    - name: API_ROUTE
      value: app
  service:
    type: ClusterIP
    port: 4173
    targetPort: 4173
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

#migrations:
#  enabled: true
#  image: liquibase:4.31.1-alpine
#  url: "jdbc:postgresql://<postgres-host>:5432/<db>"
#  user: postgres
#  password: pass
#  resources:
#    requests:
#      cpu: 100m
#      memory: 256Mi
#    limits:
#      cpu: 250m
#      memory: 512Mi


imagePullSecrets:
  - name: ghcr-secret

nameOverride: ""

fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

serviceBackend:
  type: ClusterIP
  port: 80

#serviceFront:
#  type: ClusterIP
#  port: 4173

ingress:
  enabled: true
  className: "nginx"
  hosts:
    - host: team8.kubepractice.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - team8.kubepractice.ru
      secretName: tls-secret
#istioIngress:
#  enabled: true
#  hosts:
#    - demo.kubepractice-istio.ru
#  gateway:
#    name: team8-app-gateway
#  tls:
#    enabled: true
#    secretName: demo-istio-tls
#    issuerRef:
#      name: letsencrypt-istio
#      kind: ClusterIssuer
#  redirectHttpToHttps: true
#resources:
#  limits:
#    cpu: 250m
#    memory: 256Mi
#  requests:
#    cpu: 100m
#    memory: 128Mi
#nodeSelector: {}
#tolerations: []
#affinity: {}
#podAntiAffinity:
#  enabled: true
#  topologyKey: kubernetes.io/hostname
podAntiAffinity:
  enabled: false

debugWeb:
  enabled: true
  image:
    repository: hashicorp/http-echo
    tag: "1.0"
    pullPolicy: IfNotPresent
  port: 5678
  text: "team8 debug web OK"
  resources:
    requests:
      cpu: 5m
      memory: 16Mi
    limits:
      cpu: 50m
      memory: 64Mi

