replicaCount: 1
app:
  replicaCount: 1
  containerPort: 8080
  image:
    repository: ghcr.io/csu-itmo-2025-2/team8-backend
    tag: sha-1dd9b85
    pullPolicy: IfNotPresent

  env:
    - name: KAFKA_SERVERS
      value: "kafka:9092"

  resources:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1Gi

  rollout:
    enabled: false
    analysisTemplate:
      enabled: false

vault:
  enabled: true
  server: "https://vault.kubepractice.ru"
  kvMount: "kv"
  kvVersion: "v1"
  kubernetesAuthMount: "kubernetes"
  role: "team8-ns"
  envPath: "team8/backend"

#worker: # llm_worker
#  image:
#    repository: ghcr.io/CSU-ITMO-2025-2/<worker-repo>
#    tag: sha-...
#  env:
#    KAFKA_SERVERS: "kafka:9092"
#  hfCache:
#    enabled: true
#    size: 10Gi
#  resources:
#    requests:
#      cpu: 1000m
#      memory: 2Gi
#    limits:
#      cpu: 1500m
#      memory: 3Gi

frontend:
  enabled: true
  image:
    repository: ghcr.io/csu-itmo-2025-2/team8-frontend
    tag: sha-591244a
  containerPort: 4173
  env:
    API_ROUTE: "app"
  service:
    port: 80
    targetPort: 4173
  resources:
    requests:
      cpu: 100m
      memory: 128Mi
    limits:
      cpu: 250m
      memory: 256Mi

#migrations:
#  enabled: true
#  image: liquibase:4.31.1-alpine
#  url: "jdbc:postgresql://<postgres-host>:5432/<db>"
#  user: postgres
#  password: pass
#  resources:
#    requests:
#      cpu: 100m
#      memory: 256Mi
#    limits:
#      cpu: 250m
#      memory: 512Mi


imagePullSecrets:
  - name: ghcr-secret

nameOverride: ""

fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

securityContext: {}

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: true
  className: "nginx"
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
  hosts:
    - host: demo.kubepractice.ru
      paths:
        - path: /
          pathType: Prefix
  tls:
    - hosts:
        - demo.kubepractice.ru
      secretName: tls-secret
#istioIngress:
#  enabled: true
#  hosts:
#    - demo.kubepractice-istio.ru
#  gateway:
#    name: team8-app-gateway
#  tls:
#    enabled: true
#    secretName: demo-istio-tls
#    issuerRef:
#      name: letsencrypt-istio
#      kind: ClusterIssuer
#  redirectHttpToHttps: true
#resources:
#  limits:
#    cpu: 250m
#    memory: 256Mi
#  requests:
#    cpu: 100m
#    memory: 128Mi
#nodeSelector: {}
#tolerations: []
#affinity: {}
#podAntiAffinity:
#  enabled: true
#  topologyKey: kubernetes.io/hostname
podAntiAffinity:
  enabled: false
